.premium-footer {
    background: linear-gradient(135deg,#ff6b6b,#ffa502);
    color: white;
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 50px;
}
.footer-box{
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease;
}
.footer-box:hover {
    transform: translateY(-5px);
}
.footer-box h2 {
    margin-bottom: 15px;
    color: #fff;
}
.footer-box p {
    margin: 10px 0;
    color: #ddd;
}
.footer-form input, .footer-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}.footer-form textarea{
    resize: none;
    height: 100px;
}.footer-form button {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}.footer-form button:hover {
    background: #ff4757;
}
.social-icons {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    flex-wrap: wrap;
}
.social-icons a {
    color: white;
    font-size: 20px;
    transition: 0.3s ease;
    padding: 10px 14px;
    box-sizing: 30px;
    background-image: rgba(255, 255, 255, 0.2);
}
.social-icons a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: #ff6b6b;
}
.footer-bottom {
    text-align: center;
    padding: 20px;
    background:#111;
    color: #ddd;
    font-size: 14px;
}
